@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<p>Welcome @Model.Name</p>

    <FORM METHOD="LINK" ACTION="../CoffeeShop/">
 <INPUT TYPE="submit" VALUE="Show all companies">
 </FORM>
</body>
</html>